.root {
  padding-top: 80px;
  padding-bottom: 80px;
}

.inner {
  position: relative;
}

.image {
  position: absolute;
  inset: 0;
  opacity: 0.75;
  color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-gray-0));
}

.content {
  padding-top: 420px;
  position: relative;
  z-index: 1;

  @media (max-width: 768px) {
    padding-top: 120px;
  }
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  text-align: center;
  font-weight: 500;
  font-size: 38px;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.description {
  max-width: 540px;
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}