@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-mantine-color-scheme="dark"] {
  --background: #242424;
  --foreground: #ededed;
}

body {
  background: var(--background) !important;
  background-color: var(--background) !important;
  color: var(--foreground);
  min-height: 100svh;
  font-family: sans-serif !important;

  * {
    font-family: sans-serif !important;
  }
}